.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.order-form .container {
  color: #4c4c4c;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  max-width: 650px;
}

.order-form-label {
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: bold;
}

.order-form-input,
.form-label,
.form-check-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

}

.btn-submit:hover {
  background-color: #0D47A1 !important;
}
